---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1>Bienvenido a <span class="">MarMax</span>游</h1>
			<p>
				En este espacio, encontrar치s respuestas a tus preguntas m치s apremiantes sobre <code>tecnolog칤a e Inteligencia Artificial.</code>  
				Como dos amigos apasionados por la innovaci칩n, nos dedicamos a ofrecerte contenido valioso y perspicaz que te inspire a explorar nuevas ideas y a alcanzar tus metas en el mundo digital.
			</p>
			<p>
				Aqu칤 encontrar치s respuestas a tus preguntas sobre tecnolog칤a y <code>c칩mo aplicarla en tu vida y negocio.</code>  
				Acomp치침anos en este viaje de descubrimiento y aprendizaje, y s칠 parte de la revoluci칩n digital con MarMax.
			</p>
			<p>칔nete a nosotros y descubre el emocionante mundo de la tecnolog칤a y la innovaci칩n con <code>MarMax.</code></p>
			
			<p>
				Este blog fue creado y actualizdo por
				<a href="">Maxi Kirichuk</a>. Los articulos fueron generados con colaboraci칩n de <a href="">Mariano Rodriguez</a>.
			</p>
		</main>
		<Footer />
	</body>
</html>
